* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: lightblue;
    padding: 20px;
}

main {
    width: 50%;
    display: inline-block;
}

.slider_container {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: calc(50vw * 0.8);
}

.slide {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
}

label {
    display: inline-block;
    border-right: 1px solid white;
    padding: 2px 20px 2px 0;
    width: 80px;
    max-width: 80px;
    text-align: center;
}

.input_container {
    border: 1px solid gray;
    padding-left: 20px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    position: relative;
}

.input_container:focus-within,
.input_container:hover {
    outline: 1px solid gray;
}

.input_form {
    width: calc(100% - 90px);
    position: absolute;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: white;
}

.data {padding: 0 5px;}

.match {
    color: white;
    text-decoration: underline;
    border-radius: 2px;
}

.input_form:focus-visible {
    outline: none;
}

.button-container {
    display: flex;
    margin: 20px 0;
    gap: 20px;
    justify-content: space-evenly;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid black;
}

button:focus,
button:hover 
{
    transform: scale(1.2);
    border-width: 2px;
}

button:focus {
    border: none;
    outline: none;
}

aside {
    float: right;
    width: 50%;
    padding: 80px 40px;
    border-left: 1px solid black;
    margin-top: 78px;
    height: calc(100vh - 78px);
    background-color: darkgray;
    overflow-y: scroll;
}

.preview_template {
    background-color: white;
    font-size: 0.8rem;
    padding: 80px 80px 40px;
    line-height: calc(1.5 * 0.8rem);
}

.preview_template p {
    margin: 2rem 0;
}

.preview_template p:first-child {
    margin-top: 0;
}

.preview_template p:last-child {
    margin-bottom: 0;
}
