<style>
    .preview_template {
        margin: 80 80px 20px;
    }
</style>
<div class="preview_template">
    <p>
        Se reconoce a :
        {{name}} {{last_name}}
        <span>Identificado con cedula de ciudadania: </span>
        {{document}}
    </p>
    <p>
        Que prestara el servicio de
        {{service}}
        a la persona
        {{name_contractor}} {{last_name_contractor}}
        identificada con la cedula de ciudadania
        {{data_document_contractor}}
    
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eaque nulla facere impedit dolore ipsa iste consequatur! Culpa hic itaque architecto eveniet, in, sunt, facilis ratione ipsa fugit recusandae voluptates.
        Consequatur aspernatur eaque eius corrupti beatae quam non pariatur, assumenda aliquam? Doloremque impedit reprehenderit numquam reiciendis saepe eius molestias laudantium, iure ducimus, quasi delectus facere placeat corrupti eaque nihil sapiente.
        Neque totam magnam quibusdam aliquam quia dolorum soluta iusto odit perferendis natus nemo facilis earum esse, eos illum veniam ad assumenda possimus fugit ab, distinctio animi accusantium aperiam vel. Cumque.
        Saepe quam dignissimos laudantium? Ut, incidunt iure, a eius nemo doloribus nostrum non, laboriosam quod exercitationem et rerum repudiandae obcaecati magni sunt sapiente vitae iusto ducimus reprehenderit iste illum excepturi?
    </p>
    
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea magni dolor esse dolores cupiditate commodi neque, at nihil consectetur odit quis quod libero eum temporibus obcaecati nam, reiciendis deserunt?
        Adipisci, illo commodi quibusdam blanditiis ea, perferendis nemo quod ullam eius porro dolorum asperiores, sapiente deserunt excepturi quasi deleniti voluptates facere quis. Sit atque debitis quo ipsam veritatis eveniet? Facilis.
        Natus quod molestiae obcaecati sit, illo non repellat, laboriosam sed, vitae hic et autem commodi aspernatur consectetur? Facere expedita vitae quidem natus dolore, error ex magni voluptatum animi dolorum nihil.
        Assumenda deserunt consequatur iste, quas voluptatem nesciunt deleniti suscipit fugiat? Dolore ab neque odio eos architecto. Fugit odio eligendi dolore, sapiente harum, dolorum molestias corrupti similique eveniet quis placeat. Voluptas.
        Sapiente suscipit iure deserunt earum cum sunt officia! Porro iure rerum harum quisquam. Quisquam atque fuga ab tempore quas quae nihil odio! Quisquam hic quos impedit vel, repellendus necessitatibus assumenda.
        Consectetur, mollitia. Quidem tempora numquam et incidunt, maiores iste dolorum corporis atque quae. Sit perspiciatis veniam placeat laudantium quibusdam nisi, modi quidem, et aperiam illo ratione aut cupiditate tempore reiciendis?
        Consectetur laboriosam eveniet officiis veniam ducimus quam deserunt ipsa eaque, veritatis architecto quo omnis delectus, corrupti exercitationem. Illum laudantium laboriosam minima, consequuntur quasi eum, sed hic id ex similique ut.
        Rerum neque inventore fugiat adipisci aliquid! Amet a nam optio laboriosam itaque maxime, nemo voluptatem voluptas perferendis quam quod ex quidem in unde tenetur cupiditate consequatur veniam quae incidunt nulla.
        Ipsum dignissimos consectetur earum. Quod aperiam nostrum, alias, veritatis veniam eligendi quia dolorum exercitationem libero reiciendis laboriosam repudiandae ad consequuntur mollitia, tempore id quis corrupti perspiciatis labore aliquam facilis omnis?
        Eos placeat voluptas nisi rerum, adipisci eligendi, porro ratione sapiente alias id atque totam, corporis est officiis consectetur similique a repudiandae nihil commodi molestiae deserunt nostrum! Ratione porro reprehenderit ipsam?
    </p>
    
    <p>
        Contratado: {{name}} {{last_name}}
    </p>
    <p>
        Contratista: {{name_contractor}} {{last_name_contractor}}
    </p>
</div>