{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Builder</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1>PDF Builder POC</h1>
    </header>
    <main>
        <div class="slider_container">
            <div class="slide">{% include "forms/hired/hiredData.html"  %}</div>
            <div class="slide">{% include "forms/contractor/contractorData.html" %}</div>
            <div class="slide">{% include "forms/service/serviceData.html" %}</div>
            <div class="slide">{% include "info/previewing.html" %}</div>
        </div>
    </main>
    <aside id="preview">
        {% include "preview/preview.html" %}
    </aside>
</body>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/replace.js' %}"></script>
<script src="{% static 'js/highlight.js' %}"></script>
<script src="{% static 'js/exportPDF.js' %}"></script>
</html>