<h2>Coloque los datos del contratista</h2>
<form action="" id="name_form">
    <div class="input_container">
        <label for="name_contractor">Nombres</label>
        <input type="text" id="name_contractor" class="input_form">
    </div>
    <div class="input_container">
        <label for="last_name_contractor">Apellidos</label>
        <input type="text" id="last_name_contractor" class="input_form">
    </div>
    <div class="input_container">
        <label for="document_contractor">CC</label>
        <input type="text" id="document_contractor" class="input_form">
    </div>
    <div class="button-container">
        
    </div>
</form>