<div id="preview-loading-container" style="display: none;">
    <p>Cargando Preview</p>
</div>
<br>

<p>
    <span>Se reconoce a :</span>
    <span class=" data data_name">_____________</span> <span class="data data_last_name">_____________</span>
    <span>Identificado con cedula de ciudadania: </span>
    <span class="data data_document">_____________</span>
</p>
<p>
    Que prestara el servicio de 
    <span class="data data_service">_____________</span>
    a la persona 
    <span class="data data_name_contractor">_____________</span> 
    <span class="data data_last_name_contractor">_____________</span>,
    identificada con la cedula de ciudadania
    <span class="data data_document_contractor">_____________</span>

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eaque nulla facere impedit dolore ipsa iste consequatur! Culpa hic itaque architecto eveniet, in, sunt, facilis ratione ipsa fugit recusandae voluptates.
    Consequatur aspernatur eaque eius corrupti beatae quam non pariatur, assumenda aliquam? Doloremque impedit reprehenderit numquam reiciendis saepe eius molestias laudantium, iure ducimus, quasi delectus facere placeat corrupti eaque nihil sapiente.
    Neque totam magnam quibusdam aliquam quia dolorum soluta iusto odit perferendis natus nemo facilis earum esse, eos illum veniam ad assumenda possimus fugit ab, distinctio animi accusantium aperiam vel. Cumque.
    Saepe quam dignissimos laudantium? Ut, incidunt iure, a eius nemo doloribus nostrum non, laboriosam quod exercitationem et rerum repudiandae obcaecati magni sunt sapiente vitae iusto ducimus reprehenderit iste illum excepturi?
</p>

<p>
    Contratado: <span class="data data_name">_____________</span> <span class=" data data_last_name">_____________</span>
</p>
<p>
    Contratista: <span class="data data_name_contractor">_____________</span> <span class=" data data_last_name_contractor">_____________</span>
</p>